@import url('https://fonts.googleapis.com/css?family=Tangerine');

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #efdaf1, #f647ff, #f98fff, #ffadf0) no-repeat center center fixed;
  background-size: cover;
  padding: 20px;
  color: #333;
}

h1 {
  font-family: "Tangerine", cursive;
  font-size: 75px;
  text-shadow: 1px 1px 1px #ffffff;
  text-align: center;
  color: #000000;
}

ul {
  list-style: none;
}

.list-movies-title {
  padding: 3px 0;
  background: blueviolet;
  color: white;
  text-align: center;
  font-size: 16pt;
}

.movie-grid {
  list-style-type: none;
  padding: 0;
  margin: 0 20px;
  display: grid;
  width: 90%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  gap: 20px;
}

.movie-grid li {
  padding: 10px 15px;
  text-align: left;
}

.movie {
  width: 100%;
  position: relative;
}

.image-container {
  position: relative;
}

.genre {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 20px;
  width: 20px;
}

.flag {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 20px;
  width: 20px;
}

.movie-poster {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}

.movie-title {
  position: relative;
  bottom: 0;
  color: darkblue;
  padding: 5px 5px;
  font-weight: bold;
  top: 27%;
  left: 25%;
  right: 1%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.movie-year,
.movie-rating,
.movie-director {
  font-size: 0.8em;
  text-align: left;
  margin-top: 10px;
}

/* Media Queries */

/* Small screens */
@media screen and (max-width: 480px) {
  .movie-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
  }

  .movie-title {
    font-size: 12px;
  }
}

/* Medium screens */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .movie-grid {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
  }

  .movie-title {
    font-size: 14px;
  }
}