<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users - MovieWeb App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Users</h1>
    <ul>
        {% for user_id in users.keys() %}
            <li>
                <a href="/users/{{ user_id }}">
                    {{ users[user_id]['name'] }}
                </a>
                <a href="/users/{{ user_id }}/delete_user" style="color: red; margin-left: 10px;">
                    Delete
                </a>
            </li>
        {% endfor %}
    </ul>

    <h2>Do you want to add a new user?</h2>
    <a href="/add_user"><input type="submit" value="Add New User"></a>
</body>
</html>
