<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users - MovieWeb App</title>
</head>
<body>
    <h1>Users</h1>
    <ul>
        {% for user in users %}
            <li>
                <a href="/users/{{ user.id }}">
                    {{ user.name }}
                </a>
                <a href="/users/{{ user.id }}/delete" style="color: red; margin-left: 10px;">
                    Delete
                </a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
